<h1>All Skills</h1>
  <div>
    <% @skills.each do |skill| %>
      <h3><%= skill.id %>: <a href="/skills/<%= skill.id %>"><%= skill.title %></a></h3>
      <a href="/skills/<%= skill.id %>/edit">Edit</a>

      <form action="/skills/<%= skill.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input class="btn btn-danger button_space" type="submit" value="Delete">
      </form>
    <% end %>
  </div>
